.vscode*
*test*
*.hd
*.mw
*.xsim
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.ent
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.fls
*.log
*.lmc
*.fdb_latexmk
*.snm
*.sbm
*.ptc
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.nav
*.thm
*.xsim
*.*temp
*.xdv
*.listing
*.pdf
*.zip
*.exambuff 
*.todo 
*.png 
*.jpeg
*.jpg
example*
updatemarks/*
lt3ekeys/tex/*
lt3ekeys/doc/*
git-repo*