*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.ent
*.exambuff
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.hd
*.idx
*.ilg
*.ind
*.jpeg
*.jpg
*.listing
*.lmc
*.lof
*.log
*.lot
*.mw
*.nav
*.out
*.pdf
*.pdf
*.png
*.ptc
*.sbm
*.snm
*.synctex
*.synctex
*.synctex.gz
*.synctex.gz
*.synctex.gz(busy)
*.thm
*.toc
*.toc
*.xdv
*.xsim
*.xsim
*.zip
*.zip